{% extends "BookRepository/base.html" %}

{% block main %}
<br>
</br>
<p>

    <h2 align="center">ABOUT ME</h2>
    <br>
    <br>
    <h2 align="center">Fernando Matias González</h2>
    <br>
    <table align="center" width="500px" height="100%">
    <tr>

        <td><img src="/static/BookRepository/images/Creador.jpg" width="200px" height="100%" style="border-radius: 50%"> </td>
        <td>   </td>
        <td><em><span width="200px">
                    <p>
                    Profesion: Ingeniero Electrónico <br>
                    Trabajo Actual: Ceragon Networks S.A. <br>
                    Fecha de Nacimiento: 21/12/1987 <br>
                    Pais de residencia: Argentina <br>
                    Localidad: Córdoba Capital <br>
                    <br>
                    Mail de contacto: matigonzalez87@gmail.com<br>

                    </p>
                </span>
            </em>
        </td>
    
    
      </tr>
    </table>
      <br>
    <a href="javascript:history.back()"> Volver</a>
</p>
{% endblock %}