{% extends "BookRepository/base.html" %}

{% block main %}
    <br>
    <br>

    <h1 align="center">{{object.apellido}}, {{object.nombre}}</h1>
    <br>
    <table align="center" width="500px" height="100%">
    <tr>

        <td><img src="{{ object.imagen.url }}" width="200px" height="100%" aling="text-center"></td>
        <td>   </td>
        <td><em><span width="200px">
            Nacionalidad: {{object.nacionalidad}}<br>
            Fecha de nacimiento: {{object.fecha_nacimiento}}
        </span></em></td>
    
    
      </tr>
    </table>


    <br>
    <br>
    <a href="javascript:history.back()"> Volver</a>

{% endblock %}

